header{
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
#navBar{
    display: flex;
    flex-direction: row;
}
#logo{
    height: 150px;
    width: 150px;
}
#logo:hover{
    transform: scale(120%);
    transition: 0.1s;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
.sizeHeaderButton{
    width: 148px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.menuCachePosition{
    margin-top: 147px;
}
.menuCachePositionLi2{
    margin-top: -1px;
}
.menuCache{
    display: none;
}
.menuCacheAbsolute{
    position: absolute;
}